@import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap');

.image{
    width: 100px;
}
.descr{
width: 500px;
font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;


}